body{
    font-size:11pt;
}
.navbar{
    color:white;
    display: flex;
    padding: 30px;
    justify-content: flex-end;
}
.nav-item{
    margin-left: 1rem;
    font-size:11pt;
    color:white;
    text-decoration: none;
}
.container{
    margin: 1rem auto;
}
@media(min-width:600px){
    .container{
        display: flex;
        justify-content: space-between;
    } 
    .container2{
        display: flex;
        margin-top: 1rem;
        justify-content: flex-end;
    }
}
.content-wrapper{
    flex-basis: 49%;
    flex-flow: column;
    height: 400px;
    margin-bottom: 1rem;
}
.container2{
    margin-top: 1rem;
}
.third-wrapper{
    flex-basis:49%;
    height: 400px;
}
.container3{
    display: flex;
    margin-top: 1rem;
}
.fourth-wrapper{
    flex-basis:100%;
    height: 100px;
}