
  
  .wrapper {
    margin: 4em auto;
    background: #fff;
    padding: 4em;
    border-radius: 8px;
    border: 1px solid #f5f5f5;
  }
  
  
  
  .product-grid.product-grid--flexbox .product-grid__wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width:1400px;
  }
  .product-date{
  flex-direction: column;
  flex-flow: nowrap;
  }
  .product-grid__img-wrapper {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 150px;
  }
  .endPage{
    margin-top:20px;
    text-align:center;
  }
  .product-grid__price {
    color: #E91E63;
    font-weight: bold;
    letter-spacing: .4px;
  }
  .product-grid__extend-wrapper {
    position: relative;
  }
  .content-wrapper{
    display: flex;
  }
  .first-content{
    padding: 1rem;
    box-sizing: border-box;
    height:140px;
    display: flex;
    min-width: 250px;
    max-width: 250px;
    box-shadow: 1px 2px 2px 3px #eee;
    justify-items: unset;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  .center{
    margin:auto;
  }
  